body {
    background-color: white;
}

.product-row {
    display:inline-block;
    background-color: beige;
    border: 1px solid lightblue;
    width: 30%;
    margin: 5px;
    padding: 10px;
}

.product-row h2 {
    text-align: center;
}

.image-card {
    display: flex;
}

img {
    margin: auto;
    height: 250px;
    width: 250px;
}

h2 {
    border: 1px dotted lightgray;
    text-align: center;
}

.product-descrip {
    text-align: justify;
}

.product-price {
    font-weight: bold;
}

.prod-spec {
    font-weight: bold;
}

.availability {
    background-color: darkgray;
    color: yellow;
    text-align: center;
}